@use 'helpers' as *;

.wrapper {
  &::before {
    position: absolute;
    content: "";
    background-image: url("../../images/bg/bg-stain-left.svg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 45%;
    z-index: -1;
    inset: 0;
    @include laptop {
      background-size: 43%;
    }
    @include mobile {
      background-size: 52%;
    }
    @include mobile-s {
      background-size: 65%;
    }
  }
  &::after {
    position: absolute;
    content: "";
    background-image: url("../../images/bg/bg-stain-right.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 10%;
    z-index: -2;
    inset: 0;
  }
}

.load-more {
  padding-block: rem(41);
  display: flex;
  justify-content: center;
  align-items: center;
}